[user]
    name = Emil Sodergren
    email =
[push]
    default = simple
[http]
    sslcapath = /etc/ldap/certs/
    sslCAinfo = /etc/ssl/certs/ca-certificates.crt
[credential "https://ninelv.vdc.saab.se"]
    user = u009893
[credential]
    helper = cache --timeout=3600
[branch]
    autosetuprebase = always
[alias]
    st = status
    br = branch
    ci = commit -v
    co = checkout
    god = log --graph --oneline --decorate --all
    findlarge = rev-list --objects --all | grep \"\"

[core]
    editor = nvim
    pager = diff-so-fancy | less --tabs=4 -RFX
[merge]
    tool = kdiff3
[color "diff"]
    whitespace = red reverse
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
[color]
    ui = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[diff-so-fancy]
    first-run = false
