[user]
    name = Emil Sodergren
    email = EmilSodergren@users.noreply.github.com
[push]
    default = simple
    followTags = true
    autoSetupRemote = true
[status]
    showUntrackedFiles = all
[http]
    sslcapath = /etc/ldap/certs/
    sslCAinfo = /etc/ssl/certs/ca-certificates.crt
[credential "https://ninelv.vdc.saab.se"]
    user = u009893
[credential]
    helper = cache --timeout=3600
[branch]
    autosetuprebase = always
[pull]
    rebase = true
[alias]
    st = status
    br = branch
    ci = commit -v
    co = checkout
    god = log --graph --oneline --decorate=short --all
    mergediff = show --first-parent
    findlarge = ! git rev-list --objects --all \
        | git cat-file --batch-check='%(objecttype) %(objectname) %(objectsize) %(rest)' \
        | sed -n 's/^blob //p' \
        | sort --numeric-sort --key=2 \
        | cut -c 1-12,41- \
        | $(command -v gnumfmt || echo numfmt) --field=2 --to=iec-i --suffix=B --padding=7 --round=nearest
[core]
    editor = nvim
    pager = delta --dark --diff-so-fancy
[delta]
    hunk-header-style = "normal"
    zero-style = "normal"
    plus-style = "#52F852"
    plus-non-emph-style = "#52F852"
    plus-emph-style = "#52F852 #006000 bold"
    minus-style = "#F04F4F"
    minus-non-emph-style = "#F04F4F"
    minus-emph-style = "#F04F4F #5F0000 bold"
    whitespace-error-style = "red reverse"
[interactive]
    diffFilter = delta --color-only
[merge]
    tool = fugitive
[mergetool]
    prompt = false
[mergetool "fugitive"]
    cmd = nvim -f -c \"Gvdiffsplit!\" \"$MERGED\"
[diff]
    colorMoved = default
[color "diff"]
    whitespace = red reverse
    meta = yellow
    frag = magenta bold
    commit = yellow bold
    old = red bold
    new = green bold
[color]
    ui = true
[color "diff-highlight"]
    oldNormal = red bold
    oldHighlight = red bold 52
    newNormal = green bold
    newHighlight = green bold 22
[init]
	defaultBranch = main
[rebase]
	autoStash = true
[advice]
	detachedHead = false
